/* line 2, ../sass/all.scss */
.font-sz {
  font-size: 28px;
  color: blue;
}

/* line 6, ../sass/all.scss */
.message {
  width: 800px;
  background-color: #ccc;
  color: red;
  margin: 0 auto;
  box-shadow: 3px 3px 4px gray;
}

/* line 13, ../sass/all.scss */
#results {
  color: white;
}

/* line 16, ../sass/all.scss */
#map {
  height: 400px;
  width: 100%;
}
