/* line 2, ../sass/all.scss */
.bg {
  background-image: url(https://img.miha.tw/photo/2014-1/0819tcfirst/tcfirst01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* line 10, ../sass/all.scss */
.bg .bg-box {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 14, ../sass/all.scss */
.bg .bg-box #title {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
  padding: 1.5rem;
}

/* line 24, ../sass/all.scss */
.font-sz {
  font-size: 28px;
  color: blue;
}

/* line 28, ../sass/all.scss */
.message {
  width: 800px;
  background-color: #ccc;
  color: red;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 3px 3px 4px gray;
}

/* line 36, ../sass/all.scss */
#results {
  color: white;
}

/* line 39, ../sass/all.scss */
#map {
  height: 400px;
  width: 100%;
}

/* line 43, ../sass/all.scss */
.content-list {
  text-align: center;
  padding-bottom: 15px;
}

/* line 47, ../sass/all.scss */
.formboxes {
  display: flex;
  justify-content: space-around;
  padding-top: 22px;
  padding-bottom: 18px;
}
/* line 54, ../sass/all.scss */
.formboxes > form-box {
  border: 1px solid white;
}
/* line 56, ../sass/all.scss */
.formboxes > form-box:nth-child(odd) {
  background-color: blue;
}

/* line 62, ../sass/all.scss */
option {
  width: 100%;
}
